@import "../../variables.scss";

.cardContainer {
  height: 150px;
  margin-bottom: 15px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .leftContainer {
    display: flex;
    .imgContainer {
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      background-color: $black;
      border-radius: 5px;
      border: 1px solid gray;
      img {
        width: 100%;
      }
    }
    .dataContainer {
      margin-left: 10px;
      h4,
      h5 {
        margin: 0;
      }
    }
  }
  .rightContainer {
    display: flex;
    align-items: flex-end;
    height: 100px;
    .buttonContainer {
      width: 150px;
      background: $buttonColor;
      border: none;
      border-radius: 5px;
      color: #fff;
      height: 40px;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
