@import "../../variables.scss";

.mainContainer {
  width: 800px;
  margin: 200px auto;
  color: #fff;
  text-align: center;
  .searchTitle {
    font-size: 40px;
  }

  .searchContainer {
    display: flex;
    text-align: left;
  }

  .addressContainer {
    width: 45%;
    .address {
      position: relative;
    }
    .input {
      padding-left: 130px;
      border-radius: 5px 0 0 5px;
      width: calc(100% - 130px);
    }
  }

  .typeContainer {
    width: 35%;
    .input {
      border-radius: 0 5px 5px 0;
      border-left: 2px solid #ddd;
    }
  }

  .input {
    width: 100%;
    height: 60px;
    border: none;
  }

  .buttonContainer {
    width: 20%;
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
    .button {
      width: 100%;
      background: $buttonColor;
      border: none;
      border-radius: 5px;
      color: #fff;
      height: 60px;
      font-size: 18px;
      cursor: pointer;
    }
  }
}
